*,
:after,
:before {
	box-sizing: border-box;
	margin: 0;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif !important;
}

body {
	background-color: #282c34;
}

.ant-image {
	vertical-align: middle;
}

.ant-image-img {
	border-radius: 4px;
}

/* 全局滚动条样式 */
::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-thumb {
	background: #383e4b;
	border-radius: 2px;
}

.i-icon > svg {
	vertical-align: middle;
}
